@import "../../public/abstracts/__abstracts-dir";

.onePiece {
    position: relative;
    transition: 0.2s;

    &:hover {
        transform: scale(1.25);
    }

    .head {
        width: 100px;
        height: calc(100px - 0.1rem);
        border: $border;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 0.9rem;
        position: relative;
        background: $white;

        &::before {
            content: "";
            height: 5px;
            width: 150px;
            border: $border;
            background: $yellow;
            position: absolute;
            top: 50%;
            transform: translateY(-8px);
            border-radius: 5px;
            z-index: 1;
        }

        &::after {
            content: "";
            width: 11px;
            height: 8px;
            border-radius: 50%;
            background: $black;
            position: absolute;
            bottom: 8px;
        }

        .hat {
            width: 100px;
            height: 100px;
            border: $border;
            background: $yellow;
            border-radius: 50%;
            clip-path: inset(0 0 50% 0);
            position: absolute;
            overflow: hidden;
            top: -3px;
    
            &::after {
                content: "";
                height: 12px;
                width: 110%;
                border: $border;
                background: $red;
                position: absolute;
                top: 36%;
                transform: translateY(-50%);
                left: -10px;
            }
    
            .lineLeft {
                position: absolute;
                border-left: $border;
                height: 13px;
                left: 28px;
                top: 10px;
                border-radius: 50%;
                width: 5px;
                transform: rotate(34deg);
    
                &::before {
                    content: "";
                    position: absolute;
                    border-left: $border;
                    height: 17px;
                    left: -10px;
                    top: 1px;
                    border-radius: 50%;
                    width: 5px;
                    transform: rotate(0deg);
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    border-left: $border;
                    height: 9px;
                    left: 5px;
                    top: -3px;
                    border-radius: 50%;
                    width: 3px;
                    transform: rotate(-9deg);
                }
            }
    
            .lineRight {
                position: absolute;
                border-left: $border;
                height: 15px;
                right: 22px;
                top: 8px;
                border-radius: 50%;
                width: 5px;
                transform: rotate(-217deg);
    
                &::before {
                    content: "";
                    position: absolute;
                    border-left: $border;
                    height: 9px;
                    right: -9px;
                    top: 5px;
                    border-radius: 50%;
                    width: 4px;
                    transform: rotate(-9deg);
                }
            }
        }
    }

    .eye {
        width: 28px;
        height: 28px;
        background: $black;
        border-radius: 50%;
        margin: -1px 0.35rem;
    }

    .bone {
        height: 19px;
        width: 50px;
        border: $border;
        border-left: none;
        z-index: -1;
        position: absolute;

        &::after {
            content: "";
            width: 15px;
            height: 15px;
            border: $border;
            border-radius: 50%;
            left: -1px;
            top: 1px;
            position: absolute;
            background: $white;
            transform: translateX(-18px) translateY(2px) rotate(-90deg);
            clip-path: polygon(50% 100%, 0 100%, 0 0, 100% 0, 100% 25%, 50% 50%);
        }

        &::before {
            content: "";
            width: 15px;
            height: 15px;
            border: $border;
            border-radius: 50%;
            left: -1px;
            top: 1px;
            position: absolute;
            background: $white;
            transform: translateX(-18px) translateY(-13px);
            clip-path: polygon(25% 100%, 0 100%, 0 0, 100% 0, 100% 50%, 50% 50%);
        }

        &:nth-child(1) {
            transform: rotate(42deg);
            top: 23px;
            left: -26px;
        }

        &:nth-child(2) {
            transform: rotate(137deg);
            top: 23px;
            right: -26px;
        }

        &:nth-child(3) {
            transform: rotate(313deg);
            bottom: -13px;
            left: 0px;
        }

        &:nth-child(4) {
            transform: rotate(227deg);
            bottom: -13px;
            right: 0px;
        }
    }

    .mouth {
        position: absolute;
        height: 120px;
        width: 55px;
        border: $border;
        margin: 0 auto;
        border-radius: 50%;
        transform: rotateX(60deg) translateX(-50%);
        left: 50%;
        top: 55px;
        z-index: -1;
        border-width: 4px;
        overflow: hidden;
        background: $white;

        &::before, &::after {
            content: "";
            width: 70px;
            height: 100px;
            border: $border;
            position: absolute;
            border-radius: 50%;
            transform: rotateX(0deg) translateX(-50%);
            left: 50%;
            border-width: 5px;
        }

        &::before {
            top: -60px;
        }

        &::after {
            top: -40px;
        }

        .teeth {
            position: absolute;
            left: 50%;
            width: 3px;
            height: 46px;
            background: $black;
            top: 19px;
            transform: translateX(-50%);

            &::before, &::after {
                content: "";
                background: $black;
                position: absolute;
                height: 46px;
                width: 3px;
            }

            &::before {
                transform: translateX(14px) rotate(-6deg);
            }

            &::after {
                transform: translateX(-14px) rotate(6deg);
            }
        }
    }
}